body {
  margin: 0px;
  background-image: url('background_pizza_plazzen.jpg');
  background-attachment: fixed;
  background-size: 100%;
}

h1 {
  font-size: 4rem;
  margin: 0px;
  font-family: "Irish Grover", system-ui;
}

h2 {
  font-size: 3rem;
  color: white;
  text-align: center;
  font-family: "Irish Grover", system-ui;
}

h3 {
  font-size: 2rem;
  color: white;
  text-align: center;
  font-family: "Irish Grover", system-ui;
}

p {
  font-family: "Irish Grover", system-ui;
}

/* HEADER */
.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: sticky;
  top: 0;
  width: 924px;
  height: 162px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
  background-color: aliceblue;
  opacity: 75%;
}

.header_nav {
  display: flex;
  padding: 15px;
  justify-content: space-between;
  list-style-type: none;
  background-color: rgb(191, 202, 212);
  text-align: center;

}
/* MAIN */

  /* Intro */
.hero_intro {
  display: flex;
  flex-direction: column;
  text-align: center;

}
.hero_title {
  margin: 15px;
  margin-top: 150px;
  color: white;
}
.hero_title_flavour {
  margin: 0px;
  padding-right: 2rem;
  text-align:right;
}

  /* Pizzas, offers & reviews */
  .hero_layout {
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    /* display: flex; */
    /* flex-wrap: wrap;     */
    /* justify-content: center; */
  }
  .hero_newsoffers {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 3;
    box-sizing: border-box;
    height: 609px;
    width: 424px;
    padding: 10px;
    margin: 5px;
    /* margin-left: 85px; */
    /* margin-right: 48px; */
    border-radius: 4px;
    background-color: #B1AE9A;
    opacity: 55%;
  }
  .hero_newsoffers_boxes {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 4px;
    background-color: rgba(194, 155, 129, 0.586)

  }
.hero_newsoffers_box1 {
  display: flex;
  justify-content:space-between;
  padding-right: 5px;
  margin-top: 5px;
  margin-bottom: 5px;

}
.hero_newsoffers_box2 {
  display: flex;
  justify-content:space-between;
  padding-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.hero_newsoffers_box3 {
  display: flex;
  justify-content:space-between;
  padding-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}
.hero_newsoffers_box4 {
  display: flex;
  justify-content:space-between;
  padding-right: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
}

  .hero_newsoffers_img {
    width: 40%;
    height: 40%;
    border-radius: 2px;
  }
  .hero_hot_items {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    box-sizing: border-box;
    height: 290px;
    width: 383px;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    background-color: #B1AE9A;
    opacity: 55%;
  }
  .hero_reviews {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
    box-sizing: border-box;
    height: 290px;
    width: 383px;
    padding: 10px;
    margin: 5px;
    border-radius: 4px;
    background-color: #B1AE9A;
    opacity: 55%;
  }

  /* About */
.main_about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_about_layout {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items:center;
/* gap: 1rem; */
}

.main_about_location {
box-sizing: border-box;
height: 611px;
width: 414px;
padding: 10px;
margin-left: 5px;
margin-right: 5px;
border-radius: 10px;
background-color: #B1AE9A;
opacity: 55%;
}

.main_about_location_image {
  width: 100%;
  height: 100%;
}
.main_about_text {
  box-sizing: border-box;
  height: 611px;
  width: 414px;
  padding: 10px;
  margin-left: 5px;
margin-right: 5px;
  border-radius: 10px;
  background-color: #B1AE9A;
  opacity: 55%;
  }

  /* Gallery */
.main_gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main_gallery_layout {
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 611px;
  width: 842px;
  padding: 10px;
  border-radius: 10px;
  background-color: #B1AE9A;
  opacity: 0.55;
}

.main_gallery_picture {
  width: 45%;
  height: 45%;
  padding: 5px;
  border-radius: 3%;
  opacity: 100%;
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 1024px;
  height: 100px;
  padding: 5px;
  margin-top: 50px;
  background-color: rgb(71, 132, 186);
}
